:root {
  --main-text-color: #3f4254;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
}

#app {
  height: 100%;
}
.v-card {
  border-radius: 10px !important;
  box-shadow: 0 0 20px 1px #bdbcbc42 !important ;
  .v-card-item {
    padding: 19px 30px 19px 30px;
  }
  .v-card-title, .v-toolbar-title {
    color: #3f4254;
    font-size: 1rem;
    font-weight: bold;
    height: 26px;
  }
  .v-card-subtitle {
    color: #a1a6b7;
    font-size: 13px;
    font-weight: 600;
    padding: 0 !important;
  }
  .v-list {
    padding: 0px 30px;
  }.v-list.no-padding{
    padding: 0 !important;
  }
}

.subtitle{
  color: #A1A6B7;
  font-weight: 600 !important;
}

.v-avatar img,img.media{
      border-radius: 10px;
  }

v-list-item-avatar{
  display: flex;
}

.v-chip{
  /* border-radius: 5px !important; */
  font-size: 11px !important;
  height: fit-content !important;
}

.new-member-btn 
.v-btn__content{
  font-size: 13px !important;
  text-transform: capitalize;

}