<template>
  <v-list lines="one">
    <div class="media-listing">
      <v-list-item v-for="item in data" :key="item.id">
        <div class="media-listing-info">
          <v-list-item-avatar>
            <img :src="item.img" alt="media-img" width="90" class="media"/>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ item.name }}</v-list-item-title>
            <v-list-item-subtitle>{{ item.size }}</v-list-item-subtitle>
          </v-list-item-content>
        </div>

        <v-chip v-show="item.status" :color="item.status === 'Approved' ? 'green' : '' ||
          item.status === 'In Progress' ? 'orange' : '' ||
            item.status === 'Success' ? 'green' : '' ||
              item.status === 'Rejected' ? 'red' : ''"
              label>
          {{ item.status }}
        </v-chip>

      </v-list-item>
    </div>
  </v-list>
</template>

<script>
export default {
  name: "MediaListItem",
  props: {
    data: [],
  },
};
</script>

<style lang="scss">
.media-listing {
  .v-list-item {

    padding: 11px 0 !important;

    .media-listing-info {
      display: flex;
      align-items: center;
      column-gap: 20px;
   
    }

    &-title {
      font-size: 14px;
      font-weight: 600;
    }

    &-subtitle {
      font-size: 13px;
      color: #a1a6b7;
      font-weight: 600 !important;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
</style>