<template>
    <v-list lines="one" class="no-padding">
      <div class="members-listing">
        <v-list-item>
          <div class="members-listing-info">
            <v-list-item-avatar v-show="data.avatar">
              <v-avatar :image="data.avatar" rounded="0" size="50" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ data.name }}</v-list-item-title>
                <v-list-item-subtitle>{{ data.jobTitle ? data.jobTitle: data.tech? data.tech : ""  }}</v-list-item-subtitle>
                </v-list-item-content>
            </div>

        </v-list-item>
      </div>
    </v-list>
  </template>
  
  <script>
  export default {
    name: "MembersListing",
    props: {
      data: {
        type: undefined
      },
   
    },
  
  };
  </script>
  
  <style lang="scss">
  .members-listing {
    .v-list-item {
      padding:10px 0 !important;
   
      .members-listing-info {
        display: flex;
        column-gap: 20px;
     
        height: 50px;

      }
      &-title {
        font-size: 14px;
        font-weight: 600;
      }
      &-subtitle {
        font-size: 13px;
        color: #a1a6b7;
        font-weight: 600 !important;
      }
      &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }
  </style>