<template>
  <div class="member-table">
    <v-table>
      <thead>
        <tr>
          <th class="text-left" width="50">
            <v-checkbox color="darkgray" value="gray" hide-details></v-checkbox>
          </th>
          <th class="text-left">
            <div>Authors</div>
          </th>
          <th class="text-left">
            <div>Company</div>
          </th>
          <th class="text-left">
            <div>Progress</div>
          </th>
          <th class="text-left">
            <div>Actions</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in members" :key="item.id">
          <td>
            <v-checkbox color="darkgray" value="gray" hide-details>
            </v-checkbox>
          </td>
          <td><members-listing :data="item.user" /></td>
          <td><members-listing :data="item.company" /></td>
          <td><div style="    font-size: 13px;
            color: #a1a6b7;
            font-weight: 600 !important;"> {{ item.progress + '%' }}</div>
            <v-progress-linear color="primary" model-value="20" :height="5"></v-progress-linear>
          </td>
          <td>
            <span><v-icon></v-icon></span>
          </td>
        </tr>
      </tbody>
    </v-table>
  </div>
</template>

<script>
import MembersListing from "./MembersListing";
export default {
  components: { MembersListing },
  name: "MembersStatisticsTable",
  props: {
    members: {
      type: undefined,
    },
  },
};
</script>

<style lang="scss">
.member-table {
  padding: 0 30px;
  .v-table {
    tr {
      th {
        font-size: 13px;
        color: #a1a6b7 !important;
        font-weight: 600 !important;
      }
    
     
    
    
    }
     tr:not(:last-child) > td{
            border-bottom-style: dashed !important;
    }
  }
}
</style>