<template>
  <div class="nav">
    <v-list :items="navItems"></v-list>
  </div>

  <div class="navFooter">
    <v-list :items="navFooterItem"></v-list>
  </div>
</template>

  <script>
export default {
  data: () => ({
    navItems: [
      {
        title: "Dashboards",
        value: 1,
        props: {
          prependIcon: "mdi-view-dashboard",
          appendIcon: "mdi-chevron-down",
        },
      },
      {
        title: "Pages",
        value: 2,
        props: {
          prependIcon: "mdi-archive",
          appendIcon: "mdi-chevron-down",
        },
      },
      {
        title: "Apps",
        value: 3,
        props: {
          prependIcon: "mdi-apps",
          appendIcon: "mdi-chevron-down",
        },
      },
      {
        title: "Utilities",
        value: 4,
        props: {
          prependIcon: "mdi-lifebuoy",
          appendIcon: "mdi-chevron-down",
        },
      },
      {
        title: "Help",
        value: 5,
        props: {
          prependIcon: "mdi-help",
          appendIcon: "mdi-chevron-down",
        },
      },
    ],
    navFooterItem: [
      {
        title: "Log Out",
        value: 1,
        props: {
          prependIcon: "mdi-login",
          appendIcon: "mdi-flower-poppy",
        },
      },
    ],
  }),
};
</script>
<style lang="scss">
.nav,
.navFooter {
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 8px;
  font-size: 12px;

  .v-list-item--variant-text,
  .v-list-item__overlay {
    background-color: initial !important;
  }
  .v-list-item-title {
    font-size: 14px;
    font-weight: 600;
    color: #3f4254d1;
  }
  .v-list-item__prepend {
    .v-icon {
      margin-inline-end: 12px;
    }
  }
}
.navFooter {
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0;
  .v-list-item-title {
    font-size: 12px;
  }
}
</style>
