<template>
  <v-list lines="one">
    <div class="person-listing">
      <v-list-item v-for="item in data" :key="item.id">
        <div class="person-listing-info">
          <v-list-item-avatar >
            <v-avatar :image="item.avatar" rounded="0" size="50" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ item.name }}</v-list-item-title>
            <v-list-item-subtitle>{{ item.jobTitle  }}</v-list-item-subtitle>
          </v-list-item-content>
        </div>
        <v-chip v-show="item.int" label>
          {{ item.int }}
        </v-chip>
      </v-list-item>
    </div>
  </v-list>
</template>

<script>
export default {
  name: "PersonListItem",
  props: {
    data: {
      type: undefined
    },
 
  },

};
</script>

<style lang="scss">
.person-listing {
  .v-list-item {
    padding: 11px 0 !important;
    .person-listing-info {
      display: flex;
      column-gap: 20px;
   
    }
    &-title {
      font-size: 14px;
      font-weight: 600;
    }
    &-subtitle {
      font-size: 13px;
      color: #a1a6b7;
      font-weight: 600 !important;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
</style>