<template>
    <v-list class="profile">
        <v-list-item>
            <div class="d-flex align-center justify-center">
                <v-avatar class="mb-1" rounded="0" size="75" :image="require('@/assets/images/Members/300-1.jpg')">
                </v-avatar>
              </div>
        </v-list-item>

        <v-list-item class="text-center" title="Paul Melone" subtitle="Python Dev">
        </v-list-item>

    </v-list>
</template>

<style lang="scss">
.profile{
      
    .v-list-item-title{
        color: #3F4254;
        font-weight: bold;
    }
    .v-list-item-subtitle{
        color: #3F4254;
        font-weight: 500;
        font-size: 0.75rem;
    }
}
</style>