<template>
  <v-navigation-drawer width="300">
  
    <profile-avatar />
    <NavMenu />
  </v-navigation-drawer>
</template>

<script>
import NavMenu from "./NavMenu";
import ProfileAvatar from "./ProfileAvatar";

export default {
  name: "SideBar",
  components: { NavMenu, ProfileAvatar },

};
</script>

<style lang="scss" >
.v-navigation-drawer {
  position: relative;
  padding-top: 43px;
  background-color: #efe9e1 !important;
  &--left{
    border: none !important;
  }
}
</style>

