<template>
  <v-layout>
    <side-bar />
    <v-app-bar height="100">
      <h1>Dashboard</h1>
      <p class="subtitle">You've got 24 New Sales</p>
    </v-app-bar>
    <v-main>
      <div class="main">
        <div class="mb-6">
          <v-row align="start" gutter="33">
            <v-col cols="12" sm="12" md="12" lg="4">
              <v-card height="445">
                <v-card-item>
                  <v-card-title
                    class="d-flex justify-space-between align-center"
                  >
                    <span>User Base</span>
                    <img :src="require('@/assets/images/dot-Icon.png')" />
                  </v-card-title>
                </v-card-item>
              </v-card>
            </v-col>
            <v-col cols="12" sm="12" md="12" lg="4">
              <v-card height="445">
                <v-card-item>
                  <v-card-title
                    class="d-flex justify-space-between align-center"
                  >
                    <span>Authors</span>
                    <img :src="require('@/assets/images/dot-Icon.png')" />
                  </v-card-title>
                </v-card-item>
                <person-list-item :data="authors" />
              </v-card>
            </v-col>
            <v-col cols="12" sm="12" md="12" lg="4">
              <v-card height="445">
                <v-card-item>
                  <v-card-title
                    class="d-flex justify-space-between align-center"
                  >
                    <span>Latest Media</span>
                    <img :src="require('@/assets/images/dot-Icon.png')" />
                  </v-card-title>
                  <v-card-subtitle>
                    <span>Articles and publications</span>
                  </v-card-subtitle>
                </v-card-item>
                <media-list-item :data="media" />
              </v-card>
            </v-col>
          </v-row>
          <v-row align="start">
            <v-col cols="12" sm="12" md="12" lg="4">
              <v-card height="560">
                <v-card-item>
                  <v-card-title
                    class="d-flex justify-space-between align-center"
                  >
                    <span>Trends</span>
                    <img :src="require('@/assets/images/dot-Icon.png')" />
                  </v-card-title>
                  <v-card-subtitle>
                    <span>Latest tech trends</span>
                  </v-card-subtitle>
                </v-card-item>
                <person-list-item :data="trends" />
              </v-card>
            </v-col>
            <v-col cols="12" sm="12" md="12" lg="8">
              <v-card height="560">
                <v-card-item>
                  <v-card-title
                    class="d-flex justify-space-between align-center"
                  >
                    <span>Members Statistics</span>
                    <v-btn prepend-icon="mdi-plus"   class="new-member-btn" color="#A1A6B7" variant="tonal">
                      New Member
                    </v-btn>
                  </v-card-title>
                  <v-card-subtitle>
                    <span>Over 500 members</span>
                  </v-card-subtitle>
                </v-card-item>
                <members-statistics-table :members="members" />
              </v-card>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-main>
  </v-layout>
</template>

<script>
import SideBar from "./components/SideBar";
import PersonListItem from "./components/PersonListItem";
import MediaListItem from "./components/MediaListItem";
import MembersStatisticsTable from "./components/MembersStatisticsTable";

export default {
  components: {
    SideBar,
    PersonListItem,
    MediaListItem,
    MembersStatisticsTable,
  },
  name: "App",
  data() {
    return {
      authors: [
        {
          id: 1,
          name: "Emma Smith",
          jobTitle: "Project Manager",
          avatar: require("@/assets/images/Authors/300-6.jpg"),
        },
        {
          id: 2,
          name: "Sean Bean",
          jobTitle: "PHP,SQLite, Artisan CLI",
          avatar: require("@/assets/images/Authors/300-5.jpg"),
        },
        {
          id: 3,
          name: "Brian Cox",
          jobTitle: "PHP,SQLite, Artisan CLI",
          avatar: require("@/assets/images/Authors/300-11.jpg"),
        },
        {
          id: 4,
          name: "Francis Mitcham",
          jobTitle: "PHP,SQLite, Artisan CLI",
          avatar: require("@/assets/images/Authors/300-9.jpg"),
        },
        {
          id: 5,
          name: "Dan Wilson",
          jobTitle: "PHP,SQLite, Artisan CLI",
          avatar: require("@/assets/images/Authors/300-23.jpg"),
        },
      ],
      trends: [
        {
          id: 1,
          name: "Top Authors",
          jobTitle: "Mark, Rowling, Esther",
          avatar: require("@/assets/images/Trands/trands-02.png"),
          int: "+82S",
        },
        {
          id: 2,
          name: "Popular Authors",
          jobTitle: "Mark, Rowling, Esther",
          avatar: require("@/assets/images/Trands/trands-01.gif"),
          int: "+282S",
        },
        {
          id: 3,
          name: "Popular Authors",
          jobTitle: "Mark, Rowling, Esther",
          avatar: require("@/assets/images/Trands/trands-03.gif"),
          int: "+82S",
        },
        {
          id: 4,
          name: "Popular Authors",
          jobTitle: "Mark, Rowling, Esther",
          avatar: require("@/assets/images/Trands/trands-04.gif"),
          int: "+82S",
        },
        {
          id: 5,
          name: "Popular Authors",
          jobTitle: "Mark, Rowling, Esther",
          avatar: require("@/assets/images/Trands/trands-06.gif"),
          int: "+82S",
        },
        {
          id: 6,
          name: "Popular Authors",
          jobTitle: "Mark, Rowling, Esther",
          avatar: require("@/assets/images/Trands/trands-07.gif"),
          int: "+82S",
        },
      ],
      media: [
        {
          id: 1,
          name: "Cup & Green",
          size: "Size:87KB",
          img: require("@/assets/images/LatestMedia/img-19.jpg"),
          status: "Approved",
        },
        {
          id: 2,
          name: "Yellow Background",
          size: "Size:87KB",
          img: require("@/assets/images/LatestMedia/img-20.jpg"),
          status: "In Progress",
        },
        {
          id: 3,
          name: "Nike & Blue",
          size: "Size:87KB",
          img: require("@/assets/images/LatestMedia/img-24.jpg"),
          status: "Success",
        },
        {
          id: 4,
          name: "Red Boots",
          size: "Size:87KB",
          img: require("@/assets/images/LatestMedia/img-25.jpg"),
          status: "Rejected",
        },
      ],
      members: [

        {
          id: 2,
          progress: 80,
          user: {
            name: "Emma Smith",
            jobTitle: "Project Manager",
            avatar: require("@/assets/images/Members/300-2.jpg"),
          },
          company: {
            name: "Mercans",
            tech: "Vue, nuxt",
          },
        },
        {
          id: 3,
          progress: 90,
          user: {
            name: "Emma Smith",
            jobTitle: "Project Manager",
            avatar: require("@/assets/images/Members/300-5.jpg"),
          },
          company: {
            name: "Mercans",
            tech: "Vue, nuxt",
          },
        },
        {
          id: 4,
          progress: 90,
          user: {
            name: "Emma Smith",
            jobTitle: "Project Manager",
            avatar: require("@/assets/images/Members/300-14.jpg"),
          },
          company: {
            name: "Mercans",
            tech: "Vue, nuxt",
          },
        },
        {
          id: 5,
          progress: 90,
          user: {
            name: "Emma Smith",
            jobTitle: "Project Manager",
            avatar: require("@/assets/images/Members/300-20.jpg"),
          },
          company: {
            name: "Mercans",
            tech: "Vue, nuxt",
          },
        },
        {
          id: 6,
          progress: 90,
          user: {
            name: "Emma Smith",
            jobTitle: "Project Manager",
            avatar: require("@/assets/images/Members/300-23.jpg"),
          },
          company: {
            name: "Mercans",
            tech: "Vue, nuxt",
          },
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.v-main {
  background-color: #f9fafb;
  .main {
    padding: 35px 57px;
  }
}
.v-app-bar {
  padding: 0 55px;
  padding-top: 16px;
  box-shadow: none !important;
  background-color: #f9fafb !important;
  .v-toolbar__content {
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    margin: 0 !important;
    font-weight: bold;
    font-size: 24px;
  }
  p {
    font-size: 14px;
    font-weight: 600;
  }
}
</style>
